body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background: black;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 490px;  
  background: rgb(226, 225, 225);
  padding: 30px;
  gap: 7px;
}
.box {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.vermelho   { background: red; }
.azul       { background: blue; }
.amarelo    { background: rgb(235, 235, 31); color: black; }
.roxo       { background: purple; }
.verde      { background: green; }
.ciano      { background: cyan; color: black; }
.laranja    { background: orange; }
.azulclaro  { background: lightblue; color: black; }
.marrom     { background: brown; }
